<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>Mails - Mounted</h1>
        <ul>
            <li v-for="(item, index) in mails">{{index + ' ' +item}} </li>
        </ul>
        <h2>MailsTwo - Mounted v-if</h2>
        <ul>
            <template v-if="(mails.length == quantity)">
                <li v-for="(item, index) in mails" >{{item}} </li>
            </template>
        </ul>
        <button @click="randomMails(mailsThree)">Cliccami</button>
        <h2>MailsThree - button</h2>
        <ul>
            <li v-for="(item, index) in mailsThree"> {{item}} </li>
        </ul>
        <h2>MailsFour - Created</h2>
        <ul>
            <li v-for="(item, index) in mailsFour"> {{item}} </li>
        </ul>
        <h2>MailsFour - Created if</h2>
        <ul v-if="mailsFourVif == true">
            <li v-for="(item, index) in mailsFour"> {{item}} </li>
        </ul>
    </div>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>